@font-face {
  font-family: "Sf Pro Regular";
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: "Sf Pro Light";
  src: url('../fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300;
}

.text-light{
  font-family: "Sf Pro Light", Arial, Helvetica, sans-serif;
}

.text-16{
  font-size: 16px;
}
.text-19 {
  font-size: 19px;
}
.text-20 {
  font-size: 20px;
}
.text-21{
  font-size: 21px;
}
.text-24 {
  font-size: 24px;
}

.text-34 {
  font-size: 34px;
}

.text-50 {
  font-size: 50px;
}

.text-67{
  font-size: 67px;
}

