.text-16{
  font-size: 16px;
}
.text-19 {
  font-size: 19px;
}
.text-20 {
  font-size: 20px;
}
.text-21{
  font-size: 21px;
}
.text-24 {
  font-size: 24px;
}

.text-34 {
  font-size: 34px;
}

.text-50 {
  font-size: 50px;
}

